version: 2.1

executors:
  node:
    docker:
      - image: circleci/node:16.13.0

#TODO propose to Use it in place of a makeFile
commands:
  create_package:
    description: "Creates a folder with package.json and files to be released to npm"
    steps:
      - run: 
          name: Create package
          command: node release-script/create-package.js

jobs:

  install_dependencies: 
    executor: node
    steps:
      - checkout
      - restore_cache:
          key: node-modules-v1-{{ checksum "yarn.lock" }}
      - run: yarn install
      - save_cache: 
          key: node-modules-v1-{{ checksum "yarn.lock" }}
          paths: 'node_modules'
      - persist_to_workspace: 
          root: ./
          paths: ./
  
  run_style_dictionary:
    executor: node
    steps:
      - attach_workspace:
          at: ./
      - run: 
          name: 'Run Style Dictionary'
          command: 'yarn style-dictionary:build'

  create_package_to_release:
    executor: node
    steps:
      - attach_workspace:
          at: ./
      - create_package
  
  publish_to_npm:
    # parameters:
    #   publish_dev:
    #     type: boolean
    #     default: false
    executor: node
    steps:
      - attach_workspace:
          at: ./
      - run: ls
      # - run:
      # TODO
          # name: Add NPM login credentionals
          # command: echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/.npmrc
      # TODO
      # - run:
      #     name: Set github identity
      #     command: make set_git_identity
      # - when:
      #     condition: << parameters.publish_dev >>
      #     steps:
      #       - run:
      #           name: Publish components to NPM
      #           command: {create command publish_npm_dev}
      # - unless:
      #     condition: << parameters.publish_dev >>
      #     steps:
      #       - run:
      #           name: Publish components to NPM
      #           command: {create command publish_npm}
      # TODO
      # - slack/status:
      #     <<: *slack_status

workflows: 
  # TODO add workflow for PR,  Validate changes(tests, eslint, ...?) + approval job for publishing test dev version to npm
  

  build_and_publish_prod_version:
    when:
      and:
      - equal: [ main, << pipeline.git.branch >> ]
    jobs:
      - install_dependencies
      - run_style_dictionary:
          requires:
            - install_dependencies
      - create_package_to_release:
          requires:
            - run_style_dictionary
      # TODO Remove approval step? directly "publish_to_npm" ?
      - approval_to_publish_package:
          type: approval
          requires:
            - create_package_to_release
      - publish_to_npm:
          requires:
            - approval_to_publish_package