version: 2.1

commands:
  create_package:
    description: "Creates a folder with package.json and files needed to be released to npm"
    steps:
      - run: $(node scripts/release-script.js)

jobs:
  install_dependencies: 
    docker:
      - image: circleci/node:14.15.1
    steps:
      - checkout
      # TODO add restore chache
      - run: yarn install
      - persist_to_workspace: 
          root: ./
          # TODO CAN I REMOVE '-'? and move it to one line?
          paths: ./
          # TODO add save chache

  create_package_for_release:
    docker:
      - image: circleci/node:14.15.1
    steps:
      - create_package

workflows: 
  # TODO rename "package" with repo name
  build_and_release:
    when:
      and:
      - equal: [ main, << pipeline.git.branch >> ]
    jobs:
      - install_dependencies
      - create_package_for_release
