version: 2.1

jobs:
  build: 
    docker:
      - image: circleci/node:14.15.1
    steps:
      - checkout
      - run: yarn install

# TODO to remove if changing workflow activation trigger approach
only_main: &only_main
  filters:
    branches:
      only: main

workflows: 
  # TODO rename "package" with repo name
  build_and_deploy:
    jobs:
      - build:
          # TODO do not filter by job BUT run workflow conditionally
          <<: *only_main